<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
        type="text/javascript"
        src="static/scripts/dashboard.js?{{ cache_id }}"
    ></script>
    <link rel="stylesheet" href="static/styles/style2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet"/>
    <title>Movie</title>
  </head>
  <body>
    <section class="section_one">
    <div class="container">
        <div>
          <h1>Movie Zone</h1>
        </div>
        <ul>
          <li>
            <a href="#"><button id="btn1" class="btn"></button></a>
          </li>
          <li>
            <a href="#"><button id="btn2" class="btn">Logout</button></a>
          </li>
          <li>
            <a href="#"><button id="btn3" class="btn">Contact us</button></a>
          </li>
        </ul>
      </ul>
    </div>
        <div class="container_btn">
            <h1>
                Tailored Movie Recommendations Just for You!
            </h1>
            <h3>
               Discover the perfect movies based on your interests. <br> Personalized suggestions to enhance your movie experience.
            </h3>
           
            <form class="btn_container">
                <input type="text" placeholder="Search..">
                <button type="submit">Search</button>

            </form>
        </div>
    </section>
    <section class='section_two'>
    </section>

    <footer>
      <div class="footer_container">
        <div class="footer_1">
          <h4>About</h4>
          <P>This app serves as a bridge between movie lovers and a world of captivating films. We leverage advanced algorithms and user-centric approaches to curate personalized movie recommendations tailored just for you. Whether you're a fan of thrilling action, heartwarming romance, thought-provoking documentaries, or any other genre, our app is here to guide you on a journey of cinematic exploration.</P>
        </div>
        <div class="footer_2">
          <h4>Permalinks</h4>
          <div><a href="/">Logout</a></div>
          <div><a href="#">Contact Us</a></div>
        </div>
        <div class="footer_4">
          <h4>Contact us</h4>
              <p>+2348166706020</p>
              <p>muhammadjamiuabdulrazak@mail.com</p>
              <p>+2348099449212</p>
              <p>lanrewese1@gmail.com</p>
              <ul  class="footer__socials">
                <li>
                  <a href="#"><i class="uil uil-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="uil uil-instagram-alt"></i></a>
                </li>
                <li>
                  <a href="#"><i class="uil uil-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/razkky/"><i class="uil uil-linkedin"></i></a>
                </li>
              </ul> 
          
        </div>

      </div>
    </footer>
    <div class="footer__copyright">
        <small>Copyright &copy; ALOAYE FIRST WEB DESIGH PRACTICE</small>
    </div>

  </body>
</html>
