<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
        type="text/javascript"
        src="static/scripts/dashboard.js?{{ cache_id }}"
    ></script>
    <title>Movie</title>
  </head>
  <link rel="stylesheet" href="static/styles/style2.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
  <body>

    <section class="section_one">
    <div class="container">
        <div>
          <img src="static/banner.jpg" alt="logo" id="nav_img">
          <h1>Movie Zone</h1>
        </div>
        <ul>
          <li>
            <a href="#"><button id="btn1" class="btn">User</button></a>
          </li>
          <li>
            <a href="#"><button id="btn2" class="btn">Logout</button></a>
          </li>
          <li>
            <a href="#"><button id="btn3" class="btn">Contact us</button></a>
          </li>
        </ul>
      </ul>
    </div>
        <div class="container_btn">
            <h1>
                Tailored Movie Recommendations Just for You!
            </h1>
            <h3>
               Discover the perfect movies based on your interests. <br> Personalized suggestions to enhance your movie experience.
            </h3>
           
            <form class="btn_container">
                <input type="text" placeholder="Search..">
                <button type="submit">Search</button>

            </form>
            
        
        </div>
    </section>
    <section class='section_two'>
        <div class="movie">
            <img src="static/Images/alo1.jpg" class="movie_img"/>
            <div class="movie_div">

                <h1>American ganster</h1>
                <h1>78%</h1>
            </div>
            <h3>2014</h3>
            <button class="movie_button"> <a href="">Wash</a></button>
           <p class="ova_d">overview</p>
          </div>
         
    </section>



  </body>
</html>
