<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="static/scripts/profile.js?{{ cache_id }}"
    ></script>
    <link rel="stylesheet" href="static/styles/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <title>Movie</title>
  </head>
  <body>
    <div id="container">
      <form>
        <label for="actors">Actors</label>
        <input type="text" id="actors" placeholder="Enter Actor name" />
        <button type="button" class="actors">Jason Statham</button>
        <button type="button" class="actors">Jason Statham</button>
        <button type="button" class="actors">Jason Statham</button>
        <button type="button" class="actors">Jason Statham</button>
        <label for="genres">Genre</label>
        <input type="text" id="genres" placeholder="Enter Genre name" />
        <input type="checkbox" class="genres" placeholder="Romantic" />
        <button type="button" class="genres">Romantic</button>
        <button type="button" class="genres">Romantic</button>
        <button type="button" class="genres">Romantic</button>
        <input type="button" id="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
