* {
    margin: 0;
    padding: 0;
    
}
body {
    background: url(../Images/razy1.jpg);
}

#container {
    margin: 100px 50%;
    padding-top: 40px;
    width: 330px;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    margin-top: 40px;
    
    
}

form {
    width: 270px;
    margin-left: 25px;
    
}

form label {
    display: flex;
    margin-top: 25px;
    font-size: 16px;
}

form input {
    width: 100%;
    padding: 6px;
    border: none;
    border: 2px solid rgb(165, 152, 152);
    border-radius: 10px;
    outline: none;
}

input[type="button"] {
    width: 270px;
    padding: 5px;
    margin-top: 25px;
    height: 35px;
    cursor: pointer;
    background: red;
    color: white;
    border: none;
    transition: all 0.3s;
}

input[type="button"]:hover {
    background: red;
    color: white;
    font-size: 20px;
}